{% extends 'base.html.twig' %}

{% block title %}page d'accueil{% endblock %}

{% block content %}

 {% include 'nav_bar/index.html.twig' %}
			{#template de la navbar #} 
            
    <h1>Bienvenue sur la page d'accueil</h1>

    
{% endblock %}