{% extends 'base.html.twig' %}

{% block title %}Page categories pour utilisateur{% endblock %}



{% block content %}

 {% include 'nav_bar/index.html.twig' %}
			{#template de la navbar #} 
            
    <h1>Bienvenue sur la categories pour utilisateur</h1>

    
{% endblock %}