{% extends 'base.html.twig' %}

{% block title %}Page Article{% endblock %}

{% block content %}

 {% include 'nav_bar/index.html.twig' %}
			{#template de la navbar #} 
            
    <h1>Bienvenue sur ta page article</h1>

    
{% endblock %}